{% extends 'base.html.twig' %}

{% block main %} 
<style >
body{
 color: #3c4044;
 background-color:#d3d3d3; 
}
a {
    color: #000000;
}


</style>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}" />
        <title>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</title>
    </head>

    <body>
   
    </body>
</html>{% endblock %}