.CloseModelBtnCGU {
    background-image: url('https://jwebi.com/img/close2@2x.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px auto;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9;
}